!!!
%html
  %head
    %title TodoList
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{ body_attributes }
    .container
      = yield
  = javascript_include_tag 'application'
